*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-image: url("home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#menu {
    background-color: #e3e3e3;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    list-style: none;
    align-items: center;
    backdrop-filter: blur(50px);
    justify-content: space-between;
    margin: 0;

}

#menu a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    padding-right: 40px;
}

#menu a:hover {
    color: red;
}
.about {
    position: absolute;
    bottom: 90px;
    right: 100px;
    width: 680px;
    font-size: large;
    font-family: sans-serif;
    font-weight: 500;
    word-spacing: 3px;
}

.about p {
    font-weight: bold;
}

.pack a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    position: absolute;
    top: 650px;
    right: 420px;

}

.pack a:hover{
    background-color: #fff;
    color: black;
}


.info h2{
    position: absolute;
    text-align: center;
    justify-items: center;
    top: 30%;
    padding: 0 23px;
}

