*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-image: url(home.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.info h2{
    position: absolute;
    text-align: center;
    justify-items: center;
    top: 30%;
    padding: 0 23px;
}

.logo p{
    left: 20px;
    position: absolute;
    height: 7%;
    top: 1%;
    font-size: 20px;
    color: black;
    font-family: fantasy;
}

.logo p:hover{
    color: red;
}

.navigation {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a{
    border: 2px solid #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50px;
    color: #fff;
}

.navigation a:hover{
    background-color: #fff;
    color: black;
}

