body{
   background-image: url("destinations/Watermark-Travalorant.png");
}

.heading {
    font-family: fantasy;
    font-size: 30px;
}
.heading h2{
    left: 70px;
}
.heading span{
    color: red;
}


#menu {
    background-color: #e3e3e3;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    list-style: none;
    align-items: center;
    backdrop-filter: blur(50px);
    justify-content: space-between;
    margin: 0;
}


#menu a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    padding-right: 40px;

}


#menu a:hover {
    color: red;
}

.def
{
    display: grid;
    gap: 20px;
}

.image {
    border-radius: 20px;
    margin-top: 70px;
}

.head {
    font-weight: bold;
}

.europe {
    position: absolute;
    align-content: center;
    left: 590px;
    right: 10px;
    font-size: 16px;
    font-family: sans-serif;
    word-spacing: 2px;
    top: 90px;
}

.kerala {
    position: absolute;
    align-content: center;
    left: 590px;
    right: 10px;
    font-size: 16px;
    font-family: sans-serif;
    word-spacing: 2px;
    top: 590px;
}

.dubai {
    position: absolute;
    align-content: center;
    left: 590px;
    right: 10px;
    font-size: 16px;
    font-family: sans-serif;
    word-spacing: 2px;
    top: 1080px;
}

.andaman {
    position: absolute;
    align-content: center;
    left: 590px;
    right: 10px;
    font-size: 16px;
    font-family: sans-serif;
    word-spacing: 2px;
    top: 1570px;
}

.australia 
{
    position: absolute;
    align-content: center;
    left: 590px;
    right: 10px;
    font-size: 16px;
    font-family: sans-serif;
    word-spacing: 2px;
    top: 2070px;
}

.head {
    color: red;
}

.book {
    font-size: 20px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    font-size: medium;
    
    width: 190px;
    height: 30px;
    padding-left: 30px;
    padding-right: 15px;
    align-content: center;
}

.book a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

.book a:hover{
    color: red;
}

.form {
    display: flex;
    right: 600px;
}

.form {
    right: 20px;
    margin-top: 30px;
    padding-top: 15px;
    padding: 5px;
    position: absolute;
    height: 5%;
    top: 1%;
    font-size: 20px;
    color: black;
    font-family: fantasy;
    text-decoration: none;
    font-size: medium;
    align-content: center;
} 

.search p {
    
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    font-family: sans-serif;
    position: absolute;
    left: 1120px;
    top: 25px;
}

.load a{
    position: absolute;
    padding: 10px;
    font-size: 20px;
    color: black;
    font-family: fantasy;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50px;
    font-size: medium;
    left: 700px;
    margin: 20px;
} 

.load a:hover{
    color: red;
    background-color: #fff;
}