*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image: url(destinations/Background-Travalorant.jpg);
    background-size: cover;
}

#menu {
    background-color: #e3e3e3;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    list-style: none;
    align-items: center;
    backdrop-filter: blur(50px);
    justify-content: space-between;
    margin: 0;

}

#menu a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    padding-right: 40px;
}


#menu a:hover {
    color: red;
}

.login a{
    right: 20px;
    padding-top: 8px;
    padding: 10px;
    padding-right: 15px;
    position: absolute;
    height: 7%;
    top: 13%;
    font-size: 20px;
    color: black;
    font-family: fantasy;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: medium;
    align-content: center;
} 

.login a:hover{
    color: red;
    background-color: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

}

.content{
    text-align: center;
}

.content h1{
    font-size: 95px;
    color: #fff;
    margin-bottom: 140px;
}

.content a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    position: absolute;
    top: 600px;
    right: 690px;

}

.content a:hover{
    background-color: #fff;
    color: black;
}

.video-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


